<div id="container">
  <ion-card>
    <ion-card-header>        
      <ion-card-title>Operation</ion-card-title>      
    </ion-card-header>
  
    <ion-card-content>
     {{firstValue}} + {{secondValue}}                   
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>     
      <p style="text-align: justify;">
        This game allows you to measure your agility in basic mathematical operations. 
        the game generates operations randomly and you must respond in the shortest possible time. 
        You have 1o seconds to answer each operation, in case of exceeding the time the game will end. 
        Good luck!
      </p>   
      
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>        
      <ion-card-title>Time</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>     
      <p style="text-align: justify;">
        This game allows you to measure your agility in basic mathematical operations. 
        the game generates operations randomly and you must respond in the shortest possible time. 
        You have 1o seconds to answer each operation, in case of exceeding the time the game will end. 
        Good luck!
      </p>   
      
    </ion-card-content>
  </ion-card>
</div>  
