<div id="container">  
    <ion-card>
      <ion-button>
        <ion-icon name="alarm-outline"></ion-icon>{{timeLeft}} Seconds Left....
      </ion-button>
    </ion-card>
  
  <ion-card>  
    <ion-card-content>     
      <h2>Your Score: {{contador}}</h2>      
    </ion-card-content>
  </ion-card>  
  <ion-card>
    <ion-card-header>        
      <ion-card-title style="text-align: center;"><h1>Math Operation</h1></ion-card-title>      
    </ion-card-header>
  
    <ion-card-content style="text-align: center;">
      <h1>
     {{firstValue}} {{result}} {{secondValue}}                   
    </h1>
     <ion-item>
      <ion-label position="floating" > Type your answer here</ion-label>
      <ion-input id="inputTotal" type="number"></ion-input>
    </ion-item>
    </ion-card-content>
  <center>
    <ion-button  shape="round" color="success" id="validate" name="validate" (click)="valite()">
      <ion-icon name="checkmark-circle-outline"></ion-icon>
      Send
    </ion-button>
  </center>
  </ion-card>
  <ion-card>
    <ion-button href="#" ><ion-icon name="arrow-back-circle-outline"></ion-icon>Return Home</ion-button>
  </ion-card>
</div>  
