<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Math Game
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <ion-card-header>        
        <ion-card-title>Instructions</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>     
        <p style="text-align: justify;">
          This game allows you to measure your agility in basic mathematical operations. 
          the game generates operations randomly and you must respond in the shortest possible time. 
          You have 15 seconds to answer each operation, in case of exceeding the time the game will end. 
          Good luck!
        </p>   
        
      </ion-card-content>
    </ion-card>
    <strong>Ready to play game?</strong>
    <p>
      <ion-button (click)="startGame()">        
        <ion-icon name="logo-google-playstore"></ion-icon>
        Play Game
      </ion-button>
    </p>   
  </div>
</ion-content>
